<section id="home" class="jumbotron">

    <h1 class="title">合作之家
      <p>携手合作，协同作战
        <br>找到最中意的合作伙伴
      </p>
      <p class="lead">
        <a>
         <%= link_to("欢迎回家", jobs_path, :class =>"btn btn-lg btn-info" ) %>
        </a>
      </p>

    </h1>
  </section>


  <section id="services" class="sec-services">
    <div class="container">

      <hr />

      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-4x fa fa-circle-o"></i>

          <h3 class="h3">一个共同成长的圈子</h3>

          <p>xxxxxxxxxxxxx</p>
        </div>

        <div class="col-md-4">
          <i class="fa fa-4x fa-rocket"></i>

          <h3 class="h3">一个平等欢乐的平台</h3>

          <p>xxxxxxxxxxxxxxx</p>
        </div>

        <div class="col-md-4">
          <i class="fa fa-4x fa-map"></i>

          <h3 class="h3">一个三观相投的载体</h3>

          <p>xxxxxxxxxxxxxxxxx</p>
        </div>
      </div>
    </div>
	</section>
